/* Learn from This and What type  of chanllenge do you face?*/
/* 
1.How to take a box centered.
2.transform property.


*/




*{
   
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    width: 100%;
    min-height:100%; 
    Font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    color: #fff;
}
.container{
    width: 100%;
   
}
.main-card{
    width:920px;
    height: 320px;
    background-color: hsl(277, 74%, 62%);
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}
.card-right .card-img img{
    width: 460px;
    height: 320px;
    opacity: 0.5;
    background-color: hsl(277, 64%, 61%);
}
.card-left{
   
    height: 320px;
    background-color: hsl(244, 38%, 16%);
    padding:50px ;
    word-wrap: break-word;
}

.card-text h1{
   
    font-family:'Inter', sans-serif;
    font-weight:700;
    padding-bottom: 20px;
    color:hsl(0, 0%, 100%);
    letter-spacing: -1px;
    
}
.card-text h1 span{
    color:hsl(277, 64%, 61%);
}
.card-text p{
    
    font-family:'Inter', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 25px;
    letter-spacing: .1px;
    display: inline-block;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
}

.card-value{
    display: flex;
    text-align: justify;
}
.value{
    padding: 20px;
}
.COMPAINES{
   padding:20px 0px 20px ;
}
.value number{
    font-family:'Inter', sans-serif;
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 5px;
}
.COMPAINES number{
    font-family:'Inter', sans-serif;
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 5px;
}
.value sub_title{
    color: hsla(0, 0%, 100%, 0.6);
    font-family:'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    

}
.COMPAINES sub_title{
    color: hsla(0, 0%, 100%, 0.6);
    font-family:'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

/* responsive */
@media only screen and (max-width: 740px){
    body{
        width: 100%;
        min-height: 100%;
    }
    .main-card{
        
        display: flex;
        flex-direction:column-reverse;
        width: 360px;
        height: 740px;

    }
    .card-right .card-img img{
        width: 360px;
        height: 371px;
        opacity: 0.5;
       
    }
    .card-left{
        
        height: 371px;
        margin-top: -4px;
       
    }
    
}